<% @blogs.each do |blog| %>
  <tr>
    <td><%= blog.id %></td>
    <td><%= convert_time(blog.created_at) %></td>
    <td><%= blog.title %></td>
    <td><%= blog.category%></td>

    <% if blog.promoted == "promoted" %>
      <td><div class="circle"></div></td>
    <% else %>
      <td></td>
    <% end %>
    <td><%= blog.author_name %></td>
    <td><%= image_tag blog.image.url, width: 100, height: 100 %></td>

    <% if blog.published == "published" %>
      <td id="published_blog_<%=blog.id%>">公開</td>
    <% else %>
      <td>非公開</td>
    <% end %>

    <td>
      <div class="row" id="publish_time_<%=blog.id%>" class="publish_time" ><%= convert_time(blog.publish) %></div>
      <div class="row" blog_id=<%=blog.id%> >
        <div class='input-group date datetimepicker_cell' style="display: inline;">
            <input type='hidden' id="hidden_field_<%=blog.id%>" >
            <span class="input-group-addon" style="padding: 0; background-color: transparent; border: none; display: inline;">
                <span class="btn btn-xs btn-default" >日時変更</span>
            </span>
        </div>

        <% if blog.published == "published" %>
          <div class="btn btn-xs btn-danger published_button" id="published_button_<%=blog.id%>" >停止</div>
        <% end %>
      </div>
    </td>
    <td><%= link_to "記事作成", edit_admin_blog_path(blog.id), class: "btn btn-default" %></td>
  </tr>
<% end %>

