<% @blogs.each do |blog| %>
  <tr>
    <td><%= blog.id %></td>
    <td><%= convert_time(blog.created_at) %></td>
    <td><%= blog.title %></td>
    <td><%= blog.category%></td>

    <% if blog.promoted == "promoted" %>
      <td><div class="circle"></div></td>
    <% else %>
      <td></td>
    <% end %>
    <td><%= blog.author_name %></td>
    <td></td>

    <% if blog.published == "published" %>
      <td id="published_blog_<%=blog.id%>"><%= t('published') %></td>
    <% else %>
      <td id="published_blog_<%=blog.id%>"><%= t('not_published') %></td>
    <% end %>

    <td>
      <div class="row" id="publish_time_<%=blog.id%>" class="publish_time" ><%= convert_time(blog.publish) %></div>
      <div class="row" blog_id=<%=blog.id%> >
        <div class='input-group date datetimepicker_cell' style="display: inline;">
            <input type='text' id="hidden_field_<%=blog.id%>" style="display: none;" class="hidden_field">
            <span class="" style="padding: 0; background-color: transparent; border: none; display: inline;" blog_id=<%=blog.id%> >
                <span class="btn btn-xs btn-default btn_day_change" id="btn_day_change_<%=blog.id%>"><%= t('day_change') %></span>
            </span>
        </div>

        <% if blog.published == "published" %>
          <div class="btn btn-xs btn-danger published_button" id="unpublished_button_<%=blog.id%>" publish_val = "not_published" ><%= t('stop') %></div>
          <div class="btn btn-xs btn-success published_button" id="published_button_<%=blog.id%>" publish_val = "published" style="display: none;"><%= t('continue') %></div>

        <% else %>

          <div class="btn btn-xs btn-success published_button" id="published_button_<%=blog.id%>" publish_val = "published" ><%= t('continue') %></div>
          <div class="btn btn-xs btn-danger published_button" id="unpublished_button_<%=blog.id%>" publish_val = "not_published" style="display: none;" ><%= t('stop') %></div>

        <% end %>
      </div>
    </td>
    <td><%= link_to "#{t('edit')}", edit_admin_blog_path(blog.id), class: "btn btn-default" %></td>
  </tr>
<% end %>
