<% @blogs.each do |blog| %>
  <tr>
    <td><%= blog.id %></td>
    <td><%= blog.created_at.to_date %></td>
    <td><%= blog.title %></td>
    <td><%= blog.category%></td>

    <% if blog.promoted == "promoted" %>
      <td>ok</td>
    <% else %>
      <td></td>
    <% end %>
    <td><%= blog.author_name %></td>
    <td><%= image_tag blog.image.url, width: 100, height: 100 %></td>

    <% if blog.published == "published" %>
      <td id="published_blog_<%=blog.id%>">ok</td>
    <% else %>
      <td></td>
    <% end %>

    <td>
      <div class="row" id="publish_time_<%=blog.id%>" class="publish_time" ><%= blog.publish %></div>
      <div class="row" blog_id=<%=blog.id%> >
        <div class='input-group date datetimepicker_cell' style="display: inline;">
            <input type='hidden' id="hidden_field_<%=blog.id%>" >
            <span class="input-group-addon" style="padding: 0; background-color: transparent; border: none; display: inline;">
                <span class="btn btn-xs btn-default" >change_date</span>
            </span>
        </div>

        <% if blog.published == "published" %>
          <div class="btn btn-xs btn-danger published_button" id="published_button_<%=blog.id%>" >unpublished</div>
        <% end %>
      </div>
    </td>
    <td><%= link_to "Edit", edit_admin_blog_path(blog.id), class: "btn btn-default" %></td>
  </tr>
<% end %>

<script>

  $('.datetimepicker_cell').datetimepicker({
    locale: 'ja',
    useCurrent: false
  });


$('.datetimepicker_cell').on('dp.change', function(data){
    var a = $(this).parent().attr("blog_id");
    $(".bootstrap-datetimepicker-widget").hide();
    $.ajax({
      url: '/admin/blogs/'+a,
      dataType: 'script',
      method: "patch",
      data: {redirect_check: 1, blog:{publish: data.date.format("Y-MM-D hh:mm") }},
      success: function(){
        $("#publish_time_"+a).html(data.date.format("Y-MM-D hh:mm"));
        
      }
    });
  });

    $(".published_button").on("click", function(){
      var a = $(this).parent().attr("blog_id");
      $.ajax({
        url: '/admin/blogs/'+a,
        dataType: 'script',
        method: 'patch',
        data: {redirect_check: 1, blog:{published: "not_published"}},
        success: function(){
          $("#published_blog_" + a).html("");
          $("#published_button_" + a).hide();
        }
      });
    });

</script>
