<div>
  <table class=" table table-strip">
    <thead>
      <tr>
        <th>ID</th>
        <th>作成時間</th>
        <th>タイトル</th>
        <th>カテゴリ</th>
        <th>オススメ</th>
        <th>作成者</th>
        <th>サムネイル画像</th>
        <th>公開 / 非公開</th>
        <th>公開時間</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody id="my-blogs">
      <% @blogs.each do |blog| %>
        <tr>
          <td><%= blog.id %></td>
          <td><%= convert_time(blog.created_at) %></td>
          <td><%= blog.title %></td>
          <td><%= blog.category%></td>

          <% if blog.promoted == "promoted" %>
            <td>ok</td>
          <% else %>
            <td></td>
          <% end %>
          <td><%= blog.author_name %></td>
          <td><%= image_tag blog.image.url, width: 100, height: 100 %></td>

          <% if blog.published == "published" %>
            <td id="published_blog_<%=blog.id%>">公開</td>
          <% else %>
            <td>非公開</td>
          <% end %>

          <td>
            <div class="row" id="publish_time_<%=blog.id%>" class="publish_time" ><%= blog.publish %></div>
            <div class="row" blog_id=<%=blog.id%> >
              <div class='input-group date datetimepicker_cell' style="display: inline;">
                  <input type='hidden' id="hidden_field_<%=blog.id%>" >
                  <span class="input-group-addon" style="padding: 0; background-color: transparent; border: none; display: inline;">
                      <span class="btn btn-xs btn-default" >日時変更</span>
                  </span>
              </div>
                
              <% if blog.published == "published" %>
                <span class="btn btn-xs btn-danger published_button" id="published_button_<%=blog.id%>" >停止</span>
              <% end %>
            </div>
          </td>
          <td><%= link_to "記事作成", edit_admin_blog_path(blog.id), class: "btn btn-default" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div id="infinite-scrolling" class="col-sm-10 col-sm-offset-1 text-center" >
    <%= will_paginate @blogs, remote: true, :previous_label => '<b> << </b>'.html_safe, :next_label => '<b> >> </b>'.html_safe, inner_window: 1 %>
  </div>
<script>

  
</script>
