<h4>Please confirm the following information before submit!</h4>

<div class="panel-body">
    <div class="row">
      <div class="form-group">
        <div class="col-sm-2">
          <label class="form-title pull-right"><%= t('title') %></label>
        </div>
        <div class="col-sm-10">
          <h4><%= @blog.title %></h4>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="form-group">
        <div class="col-sm-2">
          <label class="form-title pull-right"><%= t('category') %></label>
        </div>
        <div class="col-sm-10">
          <h4><%= @blog.category %></h4>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="form-group">
        <div class="col-sm-2">
          <label class="form-title pull-right"><%= t('release_date') %></label>
        </div>
        <div class="col-sm-5">
          <h4><%= @blog.publish %></h4>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="form-group">
        <div class="col-sm-2">
          <label class="form-title pull-right"><%= t('publishing_settings') %></label>
        </div>
        <div class="col-sm-10">
          <h4><%= @blog.published %></h4>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="form-group">
        <div class="col-sm-2">
          <label class="form-title pull-right"><%= t('promoted') %></label>
        </div>
        <div class="col-sm-10">
          <h4><%= @blog.promoted %></h4>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="form-group">
        <div class="col-sm-2">
          <label class="form-title pull-right"><%= t('headline_thumb') %></label>
        </div>
        <div class="col-sm-3">
          <% if @blog.image.length > 0 %>
            <img src=<%= @blog.image.url %> alt="image" width=100, height=100>
          <% else %>
            <img src="/assets/author_avatar" alt="image" width=100, height=100>
          <% end %>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="form-group">
        <div class="col-sm-2">
          <label class="form-title pull-right"><%= t('body') %></label>
        </div>
        <div class="col-sm-10">
          <%= @blog.body.html_safe %>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="form-group">
        <div class="col-sm-2">
          <label class="form-title pull-right"><%= t('author_name') %></label>
        </div>
        <div class="col-sm-5">
          <h4><%= @blog.author_name %></h4>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="form-group">
        <div class="col-sm-2">
          <label class="form-title pull-right"><%= t('author_position') %></label>
        </div>
        <div class="col-sm-5">
          <h4><%= @blog.author_position %></h4>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="form-group" data-no-turbolink>
        <div class="col-sm-2">
          <label class="form-title pull-right"><%= t('author_age') %></label>
        </div>
        <div class="col-sm-3">
          <h4><%= @blog.author_age %></h4>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="form-group">
        <div class="col-sm-2">
          <label class="form-title pull-right"><%= t('author_avatar') %></label>
        </div>
        <div class="col-sm-3">
          <% if @blog.author_avatar.length > 0 %>
            <img src=<%= @blog.author_avatar.url %> alt="image" width=100, height=100>
          <% else %>
            <img src="/assets/author_avatar" alt="image" width=100, height=100>
          <% end %>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="form-group col-sm-2 col-sm-offset-5">
        <div class="col-sm-6">
          <button class="btn btn-default" id="back_button">Back</button>
        </div>

        <div class="col-sm-6">
          <% if params[:id] %>
            <%= link_to "Confirm_patch",admin_blog_path(blog: {title: @blog.title, body: @blog.body, published: @blog.published, promoted: @blog.promoted, publish: @blog.publish, image: @blog.image.url, category: @blog.category, author_name: @blog.author_name, author_position: @blog.author_position, author_age: @blog.author_age, author_avatar: @blog.author_avatar.url}), method: :patch, class: "btn btn-primary" %>
            <!-- <button class="btn btn-primary" id="btn-patch" params = <%= params[:blog][:title] %>>Confirm-patch</button> -->
          <% else %>
            <%= link_to "Confirm_post",admin_blogs_path(blog: {title: @blog.title, body: @blog.body, published: @blog.published, promoted: @blog.promoted, publish: @blog.publish, category: @blog.category, author_name: @blog.author_name, author_position: @blog.author_position, author_age: @blog.author_age, author_avatar: @blog.author_avatar.url, image: @blog.image.url }), method: :post, class: "btn btn-primary" %>
<!--             <button class="btn btn-primary" id="btn-post" params = <%= params[:blog][:image] %>>Confirm-post</button> -->
          <% end %>
        </div>
      </div>
    </div>


</div>