<div class="panel-body">
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog" id="modal_content" style="padding: 10px;">

    </div>
  </div>
    <%= form_for [:admin, @blog] do |f| %>
      <% custom_errors(@blog) %>
      <div class="row">
        <div class="form-group">
          <div class="col-sm-2">
            <%= f.label "タイトル", class: "form-title pull-right" %>
          </div>
          <div class="col-sm-10">
            <%= f.text_field :title, autofocus: true, class: 'form-control' %>
            <% if @title_error.length > 0 %>
              <div class="alert alert-danger"><%= @title_error %></div>
            <% end %>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="form-group">
          <div class="col-sm-2">
            <%= f.label "力テゴリ", class: "form-title pull-right" %>
          </div>
          <div class="col-sm-10">
            <%= f.select :category, options_for_select(category_array),class: 'form-control' %>
            <% if @category_error.length > 0 %>
              <div class="alert alert-danger"><%= @category_error %></div>
            <% end %>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="form-group">
          <div class="col-sm-2">
            <%= f.label "公開日時", class: "form-title pull-right" %>
          </div>
          <div class="col-sm-5">
            <%= f.text_field :publish, class: 'form-control', id: "date_field" %>
            <% if @publish_error.length > 0 %>
              <div class="alert alert-danger"><%= @publish_error %></div>
            <% end %>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="form-group">
          <div class="col-sm-2">
            <%= f.label "公開設定", class: "form-title pull-right" %>
          </div>
          <div class="col-sm-10">
            <%= f.check_box(:published, {}, "published", "not_published") %>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="form-group">
          <div class="col-sm-2">
            <%= f.label "オ又又メ", class: "form-title pull-right" %>
          </div>
          <div class="col-sm-10">
            <%= f.check_box(:promoted, {}, "promoted", "not_promoted") %>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="form-group">
          <div class="col-sm-2">
            <%= f.label "見出し画傷", class: "form-title pull-right" %>
          </div>
          <div class="col-sm-3">
            <div class="gallery">
              <img src="/assets/author_avatar" alt="image">
            </div>
            <!-- <label class="btn btn-primary" for="my-file-selector"> -->
            <label class="btn btn-default btn-sm" for="blog_image">
              <%= f.file_field :image, style: "display: none;", id: "blog_image" %>
              闔く
            </label>

            <% if @image_error.length > 0 %>
              <div class="alert alert-danger"><%= @image_error %></div>
            <% end %>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="form-group">
          <div class="col-sm-2">
            <%= f.label "本文", class: "form-title pull-right" %>
          </div>
          <div class="col-sm-10">
            <div id="preview"><%= link_to "プレビュー", "#" %></div>
            <br>
            <% if @body_error.length > 0 %>
              <div class="alert alert-danger"><%= @body_error %></div>
            <% end %>
            <div>
              <%= f.text_area :body, class: "form-control ckeditor", id: "body_text" %>
            </div>
          </div>
        </div>
      </div>
      <br>
      <h4>投稿者設定</h4>
      <div class="row">
        <div class="form-group">
          <div class="col-sm-2">
            <%= f.label "名前", class: "form-title pull-right" %>
          </div>
          <div class="col-sm-5">
            <%= f.text_field :author_name, class: "form-control" %>
            <% if @author_name_error.length > 0 %>
              <div class="alert alert-danger"><%= @author_name_error %></div>
            <% end %>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="form-group">
          <div class="col-sm-2">
            <%= f.label "職業", class: "form-title pull-right" %>
          </div>
          <div class="col-sm-5">
            <%= f.text_field :author_position, class: "form-control" %>
            <% if @author_position_error.length > 0 %>
              <div class="alert alert-danger"><%= @author_position_error %></div>
            <% end %>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="form-group" data-no-turbolink>
          <div class="col-sm-2">
            <%= f.label "年齢", class: "form-title pull-right" %>
          </div>
          <div class="col-sm-3">
            <%= f.text_field :author_age, type: "number", class: "form-control" %>
            <% if @author_age_error.length > 0 %>
              <div class="alert alert-danger"><%= @author_age_error %></div>
            <% end %>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="form-group">
          <div class="col-sm-2">
            <%= f.label "画傷", class: "form-title pull-right" %>
          </div>
          <div class="col-sm-3">
            <div class="author_avatar_gallery">
              <img src="/assets/author_avatar" alt="image">
            </div>
            <label class="btn btn-default btn-sm" for="author_avatar_image">
              <%= f.file_field :author_avatar, style: "display: none;", id: "author_avatar_image" %>
              闔く
            </label>
            
            <% if @author_avatar_error.length > 0 %>
              <div class="alert alert-danger"><%= @author_avatar_error %></div>
            <% end %>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="form-group col-sm-2 col-sm-offset-5">
          <div class="col-sm-6">
            <%= link_to "List", admin_blogs_path, class: "btn btn-default" %>
          </div>
          <div class="col-sm-6">
            <%= f.button "更新", class: "btn btn-primary" %>
          </div>
        </div>
      </div>
      <br>
    <% end %>
</div>
<script>
  CKEDITOR.replace('body_text');
</script>