<div class="row">
  <div class="well">
    Search filter
    <br>
    <hr>
    <div class="row" style="position: relative;">
      <form action="/admin/blogs/search" data-remote="true">
        <div class="col-sm-2">
          <div class="form-group">
            Title
            <input type="text" name="query" id="blog_query" class="form-control">
          </div>
        </div>
        <div class="col-sm-10">
          <div class="col-sm-2">
            <div class="form-group">
              Category
              <div>
                <select name="category" id="category_select">
                  <% category_array.each do |e| %>
                    <option value="<%= e %>"><%= e %></option>
                  <% end %>
                </select>
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              Published
              <div>
                <select name="published" id="category_select">
                  <option value="published">published</option>
                  <option value="not_published">not_published</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              Promoted
              <div>
                <select name="promoted" id="category_select">
                  <option value="promoted">promoted</option>
                  <option value="not_promoted">not_promoted</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              Sort
              <div>
                <select name="sort" id="category_select">
                  <option value="ASC">ASC</option>
                  <option value="DESC">DESC</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <button type="submit" class="btn btn-default" style="position: absolute; top: 15px; left: 0;">Update</button>
            </div>
          </div>
      </form>
    </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <%= link_to "New blog", new_admin_blog_path, class: "btn btn-primary" %>
  </div>
<!--   <div class="col-sm-2">
    <%#= link_to "New category", new_admin_category_path, class: "btn btn-primary" %>
  </div> -->
</div>
<br>
<div class="row" id="search_blog" >
  <%= will_paginate @blogs, remote: true %>
  <div>
    <table class=" table table-strip">
      <thead>
        <tr>
          <th>ID</th>
          <th>Created_at</th>
          <th>Title</th>
          <th>Category</th>
          <th>Promoted</th>
          <th>Author</th>
          <th>Image</th>
          <th>Published</th>
          <th>Publish</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody id="my-blogs-admin">
        <%= render "blog" %>
      </tbody>
    </table>
  </div>
  <div id="infinite-scrolling-admin" class="col-sm-10 col-sm-offset-1 text-center infinite-scrolling" >
    <%= will_paginate @blogs, remote: true %>
  </div>
</div>
