<div class="row">
  <div class="col-md-10" style="padding: 0;">
    <% if flash[:notice] %>
      <div class="alert alert-success alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <%= flash[:notice] %>
      </div>
    <% end %>
  </div>
</div>
<br>
<div class="row">
  <div class="well">
    検索フィルター
    <br>
    <hr>
    <div class="row" style="position: relative;">
      <form action="/admin/blogs/search" data-remote="true">
        <div class="col-sm-2">
          <div class="form-group">
            タイトル
            <input type="text" name="query" id="blog_query" class="form-control">
          </div>
        </div>
        <div class="col-sm-10">
          <div class="col-sm-2">
            <div class="form-group">
              カテゴリ
              <div>
                <select name="category" id="category_select">
                  <option selected hidden></option>
                  <% category_array.each do |e| %>
                    <option value="<%= e %>"><%= e %></option>
                  <% end %>
                </select>
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              公開
              <div>
                <select name="published" id="category_select">
                  <option selected hidden></option>
                  <option value="published">published</option>
                  <option value="not_published">not_published</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              オススメ
              <div>
                <select name="promoted" id="category_select">
                  <option selected hidden></option>
                  <option value="promoted">promoted</option>
                  <option value="not_promoted">not_promoted</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              並べ替え
              <div>
                <select name="sort" id="category_select">
                  <option selected hidden></option>
                  <option value="ASC">ASC</option>
                  <option value="DESC">DESC</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <button type="submit" class="btn btn-default" style="position: absolute; top: 15px; left: 0;">更新</button>
            </div>
          </div>
      </form>
    </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <%= link_to "New blog", new_admin_blog_path, class: "btn btn-primary" %>
  </div>
<!--   <div class="col-sm-2">
    <%#= link_to "New category", new_admin_category_path, class: "btn btn-primary" %>
  </div> -->
</div>
<br>
<div class="row" id="search_blog" >
  <%= will_paginate @blogs, remote: true, :previous_label => '<b> << </b>'.html_safe, :next_label => '<b> >> </b>'.html_safe, inner_window: 1 %>
  <div> 
    <table class=" table table-strip">
      <thead>
        <tr>
          <th>ID</th>
          <th>作成時間</th>
          <th>タイトル</th>
          <th>カテゴリ</th>
          <th>オススメ</th>
          <th>作成者</th>
          <th>サムネイル画像</th>
          <th>公開 / 非公開</th>
          <th>公開時間</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody id="my-blogs-admin">
        <%= render "blog" %>
      </tbody>
    </table>
  </div>
  <div id="infinite-scrolling-admin" class="col-sm-10 col-sm-offset-1 text-center infinite-scrolling" >
    <%= will_paginate @blogs, remote: true, :previous_label => '<b> << </b>'.html_safe, :next_label => '<b> >> </b>'.html_safe, inner_window: 1 %>
  </div>
</div>
