<div class="row">
  <div class="col-md-10" style="padding: 0;">
    <% if flash[:notice] %>
      <div class="alert alert-success alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <%= flash[:notice] %>
      </div>
    <% end %>
  </div>
</div>
<br>
<div class="row">
  <div class="well">
    <%= t('search_filter') %>
    <br>
    <hr>
    <div class="row" style="position: relative;">
      <form action="/admin/blogs" >
        <div class="col-sm-2">
          <div class="form-group">
            <%= t('title') %>
            <input type="text" name="query" id="blog_query" class="form-control">
          </div>
        </div>
        <div class="col-sm-10">
          <div class="col-sm-2">
            <div class="form-group">
              <%= t('category') %>
              <div>
                <select name="category" id="category_select">
                  <option selected></option>
                  <% category_array.each do |e| %>
                    <option value="<%= e %>"><%= e %></option>
                  <% end %>
                </select>
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <%= t('published') %>
              <div>
                <select name="published" id="category_select">
                  <option selected></option>
                  <option value="1">published</option>
                  <option value="0">not_published</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <%= t('promoted') %>
              <div>
                <select name="promoted" id="category_select">
                  <option selected></option>
                  <option value="1">promoted</option>
                  <option value="0">not_promoted</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <%= t('sort') %>
              <div>
                <select name="sort" id="category_select">
                  <option selected></option>
                  <option value="ASC">ASC</option>
                  <option value="DESC">DESC</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <button type="submit" class="btn btn-default" style="position: absolute; top: 15px; left: 0;"><%= t('btn_search') %></button>
            </div>
          </div>
      </form>
    </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <%= link_to "New blog", new_admin_blog_path, class: "btn btn-primary" %>
  </div>
<!--   <div class="col-sm-2">
    <%#= link_to "New category", new_admin_category_path, class: "btn btn-primary" %>
  </div> -->
</div>
<br>
<div class="row" id="search_blog" >
  <%= will_paginate @blogs, remote: true, :previous_label => '<b> << </b>'.html_safe, :next_label => '<b> >> </b>'.html_safe, inner_window: 1 %>
  <div> 
    <table class=" table table-strip" id="table_index">
      <thead>
        <tr>
          <th>ID</th>
          <th><%= t('created_at') %></th>
          <th><%= t('title') %></th>
          <th><%= t('category') %></th>
          <th><%= t('promoted') %></th>
          <th><%= t('author') %></th>
          <th><%= t('author_avatar') %></th>
          <th><%= t('published_not_published') %></th>
          <th><%= t('open_time') %></th>
          <th><%= t('action') %></th>
        </tr>
      </thead>
      <tbody id="my-blogs-admin">
        <%= render "blog" %>
      </tbody>
    </table>
  </div>
  <div id="infinite-scrolling-admin" class="col-sm-10 col-sm-offset-1 text-center infinite-scrolling" >
    <%= will_paginate @blogs, remote: true, :previous_label => '<b> << </b>'.html_safe, :next_label => '<b> >> </b>'.html_safe, inner_window: 1 %>
  </div>
</div>
